* {
    font-family: 'Nunito', sans-serif;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 45px 0px 0px 0px;
    overflow-x: hidden;
    background-color: #F3EEEE;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}

.navbar {
    background-color: #191B18;
}

.navbar-nav a {
    position: relative;
    text-decoration: none;
    font-size: 1.1rem;
}

.navbar-nav a::after {
    content: "";
    display: block;
    height: 2.5px;
    width: 0;
    background-color: #8775E1;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.2s;
}

.navbar-nav a:hover::after,
.navbar-nav a.active::after {
    width: 100%;
}

.navbar-nav .nav-link {
    color: white !important;
    /* Set default text color */
    transition: color 0.3s ease;
    /* Add transition for smooth color change */
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-item.active .nav-link {
    color: #8775E1 !important;
    /* Set the color you want on hover or when the link is active */
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

#navbtns {
    border-color: transparent !important;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #8775E1;
    transition: background-color 0.3s ease;
}

#navbtns:active,
#navbtns:hover {
    background-color: #684fe2;
}

.nav-span {
    font-size: 1.1rem;
    font-weight: 600;
}

.container {
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.card {
    background-color: transparent;
    color: white;
    overflow: hidden;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.card-img {
    height: 100%;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}
.card-body-head{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.card-title {
    color: black;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    margin-top: 15px;
    color: black;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 15px;
}

.course-info {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.course-rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.course-logo {
    max-width: 25px;
    max-height: 25px;
    object-fit: cover;
    margin-bottom: 7px;
}

.half-star-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 17px;
    /* Half of the original width */
    height: 35px;
    /* Adjust the height as needed */
}

#enroll-button-desktop {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
}

#coursebtn {
    border-color: transparent !important;
    display: flex;
    padding: 15px 40px 15px 40px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #8775E1;
    transition: background-color 0.3s ease;
}

#coursebtn:active,
#coursebtn:hover {
    background-color: #684fe2;
}


#course-container {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line on smaller screens */
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
}

#course-container h2 {
    font-weight: 600;
    font-size: 1.8rem;
    color: black;
}

#course-container li {
    font-size: 1.2rem;
    font-weight: 600;
}

.course-section {
    /* background-color: #E9BEE9; */
    background-color: rgba(135, 117, 225, 0.60);
    padding: 10px 50px 10px 50px;
    width: 100%;
    /* Full width on small screens */
    border-radius: 10px;
}

@media (min-width: 768px) {

    /* Apply styles only for screens 768px and above */
    .course-section {
        width: 45%;
    }
}

h2 {
    color: black;
}

.checklist {
    list-style-type: none;
    padding: 0;
}

.checklist li::before {
    content: '\2713';
    color: #5df400;
    /* Checkmark color */
    display: inline-block;
    font-weight: bolder;
    width: 1em;
    margin-left: -1em;
}

#highlights-container {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line on smaller screens */
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
}

.box {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
}

.box>div {
    flex: 1;
}

.box img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}

@media (min-width: 768px) {
    .box {
        width: calc(33.33% - 20px);
    }
}

.container-fluid {
    text-align: left;
}

#carousel-container {
    margin: 0;
    padding: 10px;
    display: flex;
    overflow-x: scroll;
}

.carousel-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    height: 300px;
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 8px;
    text-align: left;
    margin-right: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.carousel-top {
    display: flex;
    justify-content: space-between;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #684fe2;
    overflow: hidden;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

@media (min-width: 768px) {
    #carousel-container {
        overflow-x: hidden;
    }

    .carousel-item {
        min-width: 30%;
    }
}

/* Container for contact information */
.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

/* Email link style */
.email-link {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #3498db;
    text-decoration: none;
}

/* Social media icons */
.social-icons {
    margin-top: 20px;
}

.social-icons img {
    width: 50px;
    /* Adjust the size as needed */
    height: 50px;
    margin: 0 10px;
}

/* bottom bar  */

.bottom-navbar {
    display: none;
    /* Initially hide the navigation bar */
}

.left-text {
    margin-left: 10px;
}

#enroll-button {
    border-color: transparent !important;
    height: 45px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #8775E1;
    transition: background-color 0.3s ease;
}

#enroll-button:active,
#enroll-button:hover {
    background-color: #684fe2;
}


@media (max-width: 768px) {
    body {
        padding-top: 0px;
    }

    .card {
        width: 100%;
    }

    #enroll-button-desktop {
        display: none;
    }

    .bottom-navbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: rgba(135, 117, 225, 0.20);
        backdrop-filter: blur(5px);
        color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
    .card-body-head{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;  */
        align-items:start;
    }
}
.footer {
    display: flex;
    justify-content: center;
    background-color: #191B18;
    padding: 20px 0;
    text-align: center;
    color: white;
}
.footer p {
    margin-bottom: 0;
}
.social-icons {
    margin-bottom: 10px;
}
.social-icons a {
    font-size: 2rem;
    color: white;
    margin: 0 10px;
    transition: color 0.3s ease;
}
.social-icons .fa-facebook:hover {
    color: #4267B2;
}
.social-icons .fa-twitter:hover {
    color: #1DA1F2;
}
.social-icons .fa-linkedin:hover {
    color: #0A66C2;
}
.social-icons .fa-instagram:hover {
    font-size: 2rem;
    color: white;
    background: linear-gradient(45deg, #F09433 0%, #E6683C 25%, #DC2743 50%, #CC2366 75%, #BC1888 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.social-icons .fa-youtube:hover {
    color: #FF0000;
}
.social-icons .fa-whatsapp:hover {
    color: #25D366;
}
.social-icons .fa-telegram:hover {
    color: #008888;
}
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
